*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
Lab1/.project
Lab1/.settings/
*.idea
Lab1/*.iml
.metadata
RemoteSystemsTempFiles/
Lab1/.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
